element.style {
}
html {
    display: block;
    color: -internal-root-color;
}
head {
    display: none;
}
body {
    font-size: 18px;
    font-family: 'Nobile', sans-serif;
    line-height: 1.5;
}
body {
    display: block;
    margin: 8px;
}
header {
    font-size: 24px;
    height: 100px;
    line-height: 2;
}
header, footer {
    background-color: rgb(124, 75, 12);
    color: #fff;
    text-align: center;
    border-radius: 15px;
}
header, main, footer {
    margin: 1.25rem auto;
    max-width: 1080px;
}
header {
    display: block;
}
header img {
    float: right;
    width 200px;
    margin: 20px;
}
header h1 {
    margin-left: 220px;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
main {
    display: block;
}
footer {
    padding: 10px;
}
script {
    display: none;
}
