@import url('https://fonts.googleapis.com/css?family=Goblin+One|Supermercado+One&display=swap');
element.style {
}
html {
    display: block;
}
script {
    display: none;
}
head {
    display: none;
}
body {
    font-size: 18px;
    font-family: "Supermercado One", Arial, cursive;
    line-height: 1.5;
    display: block;
    margin: 8px;
    height: 100%;
}
main {
    display: block;
}
header {
    height: 100px;
    line-height: 2;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}
footer {
    padding: 15px;
}
header, footer {
    background-color: rgb(167, 94, 0);
    color: #1a345b;
    font-family: "Goblin One", Arial, cursive;
    text-align: center;
    border-radius: 15px;
}
header, main, footer {
    margin: 1.25rem auto;
    max-width: 1080px;
}
header img {
    float: right;
    width: 200px;
    margin: 25px;
    border-radius: 15px;
}
header h1 {
    margin-left: 200px;
}
h1 {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
}
h2 {
    font-size: 1rem;
}
.update {
    font-size: .8rem;
    color: yellow;
}
