@import url('https://fonts.googleapis.com/css?family=Goblin+One|Supermercado+One&display=swap');
element.style {
}
html {
    display: block;
    color: -internal-root-color;
}
script {
    display: none;
}
head {
    display: none;
}
body {
    font-size: 18px;
    font-family: "Supermercado One", Arial, cursive;
    line-height: 1.5;
    display: block;
    margin: 8px;
}
main {
    display: block;
}
header {
    font-size: 24px;
    height: 100px;
    line-height: 2;
    display: block;
}
footer {
    padding: 15px;
}
header, footer {
    color: rgb(167, 94, 0);
    background-color: #1a345b;
    font-family: "Goblin One", Arial, cursive;
    text-align: center;
    border-radius: 15px;
}
header, main, footer {
    margin: 1.25rem auto;
    max-width: 1080px;
}
header img {
    float: right;
    width: 250px;
    margin: 25px;
    border-radius: 15px;
}
header h1 {
    margin-left: 200px;
}
h1 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.65em;
    margin-block-end: 0.65em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h2 {
    font-size: 1em;
}

