@media only screen and (min-width: 40em){
    nav ul{ 
        display: flex;
        justify-content: space-around;
    }
    nav ul li {
        flex: 1 1 100%;
    }
    nav li a {
        margin: auto;
    }
    img {
        display: block;
        text-align: left;
        padding: 20px;
    }
    header, footer {
        flex-flow: row-wrap:
        text-align: center;
        max-width: 1080px;
        margin: auto;
        font-size: 1em;
    }
    header {
        font-size: 1.3em;
    }
    h1 {
        text-align: center;
    }
    h3 {
        text-align: center;
        font-size: 2em;
    }
    nav {
        margin: auto;
        margin-top: 10px;
        max-width: 1080px;
    }
    nav a {
        font-size: 1rem;
    }
    main {
        max-width: 1080px;
        text-align: center;
        margin: auto;
    }
    table, td {
        font-size: 1em;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    blockquote {
        margin-left: 100px;
    }
    .scenario {
        font-size: 1em;
    }
    .palette {
        width: 400px;
        height: 300px;
        margin: auto;
    }
    tr:nth-child(1) {
        font-size: 20px;
        font-family: 'Quicksand', sans-serif;
    }
    tr:nth-child(2) {
        font-size: 20px;
        font-family: 'Quicksand', sans-serif;
    }
    tr:nth-child(3) {
        font-size: 20px;
        font-family: 'Quicksand', sans-serif;
    }
    tr:nth-child(4) {
        font-size: 20px;
        font-family: 'Quicksand', sans-serif;
    }
    tr:nth-child(5) {
        font-size: 20px;
        font-family: 'Quicksand', sans-serif;
    }
    tr:nth-child(6) {
        font-size: 20px;
        font-family: 'Quicksand', sans-serif;
    }
    }