@import url('https://fonts.googleapis.com/css?family=Goblin+One|Supermercado+One&display=swap');
element.style {    
}
body {
    font-size: 16px;
    font-family: "Goblin One", Arial, cursive;
}
header {
    text-align: center;
}
nav ul {
    display: grid;
    list-style-type: none;
}
nav a {
    display: block;
    grid: 1fr;
	color: blue;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
}
