@media only screen and (min-width: 32.5em) {
    footer {
        border-radius: 20px;
    }
    footer, main {
        max-width: 35em;
        margin: auto;
    }
    .forecast {
        color: yellow;
    }

	.register {
		display: flex;
	}
	.register li:first-child {
		display: none;
	}
	.register li {
		display: block;
		flex: 1 1 100%;
	}
	.register li a {
		color: yellow;
	}
}