@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

h1{
    text-align: center;
    color: rgb(69, 57, 245);
}

main{
    box-shadow: 0 0 15px black;
    background-color: whitesmoke;
}

div{
    display: grid;
    grid-template-columns: 100%;
}

img{
    width: 60%;
    margin: 5px auto;
    text-align: center;
    display: block;
    box-shadow: 0 0 20px black;
}

h2, p {
    text-align: center;
}

h2{
    color: rgb(69, 57, 245);
}

section{
    align-items: center;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    background-color: rgb(69, 57, 245);
}

footer{
    text-align: center;
    padding: 25px;
}

@media only screen and (min-width: 34em){

    .cards{
        grid-template-columns: 50% 50%;
    }
    }
    
    @media only screen and (min-width: 60em){
    
    .cards{
        grid-template-columns: 25% 25% 25% 25%;
        }
        
    }