@media only screen and (min-width: 34em) {
    main, .contact {
        max-width: 45em;
        margin: auto;
	}
	
	footer {
		max-width: 54.5em;
		margin: auto;
	}

	.register {
		display: flex;
        font-size: .8em;
	}

	.register li:first-child {
		display: none;
	}

	.register li {
		display: block;
		flex: 1 1 100%;
	}

	.register li a {
        color: #d36135;
		font-size: 1em;
	}

	h1, h2, p {
		margin: 0;
	}
	
	.summary {
		display: block;
		top: 25px;
		left: 115px;
	}

	.summary h2 {
		text-decoration: underline;
		padding-bottom: 10px;
	}

	.forecast {
		display: block;
		max-width: 65em;
		align-content: center;
		font-size: 2em;
		text-align: center;
		background-color: #f5f104; 
		border: 2px solid black; 
		padding: 20px;
		color: white;
	}
	
	#forecastBox {
		display: block;
		width: 75%;
		border-collapse: collapse;
		margin: auto;
	  }
	  
	#forecastBox th {
		font-size: 1.5em;
		font-weight: bold;
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: center;
		background-color: #2365ae;
		color: white;
	  }

	#forecastBox td {
		font-size: 2rem;
		font-weight: bold;
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: center;
		background-color: white;
		color: #d36135;
	  }

	#forecastBox td, #forecastBox th {
		border: 2px solid black;
	  }
	
	  .article {
		  display: float;
	  }

	  .byui {
		  float: right;
	  }

	.prestonMap {
		display: flex;
		margin: .5em;
		width: 250px;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
	  }
	  
	.preston {
		max-width: 35em;
		margin: auto;
		font-size: 1.5em;
    }
    
    #gallery {
        grid-template-columns: 1fr 1fr;
        max-width: 34em;
        justify-content: center;   
    }

	h1 {
    text-align: center;
	}

	h2 {
    font-size: 1.3em;
	}

	p {
    padding: 10px;
    text-align: left;
	}

	.towns {
    display: flex;
    flex-wrap: wrap;
	}
    
	main section {
    display: flex;
    width: 90%;
	}
    
	section:nth-child(even) {
    flex-direction: row-reverse;
	}

	section img {
    width: 60%;
	}

	.headings {
		display: block;
	}

}